PORT=3333

# Prisma
DATABASE_URL=""

# JWT
JWT_SECRET=""
JWT_COOKIE_NAME="@whatshare-access-token-1.0.0"
JWT_REFRESH_COOKIE_NAME="@whatshare-refresh-token-1.0.0"

# WWJS
WWJS_EXECUTABLE_PATH=""
WWJS_WEB_VERSION="2.2333.11"
WWJS_REMOTE_PATH="https://raw.githubusercontent.com/wppconnect-team/wa-version/main/html/2.2333.11.html"
WWJS_TEST_PRIMARY_CLIENT_ID=""
WWJS_TEST_RECIPIENT_CLIENT_ID=""

# WS
WS_WA_NAMESPACE_ROOM_HEADER=""